In [1]:
import pandas as pd
data = pd.read_csv(r"C:\Users\catri\OneDrive\文档\linje model\projectB\B14data_win.csv")
data.head()

    V1  V2  V3  V4   V5
0  109   1   2   1  0.5
1  109   1   2   2  0.5
2  109   1   2   4    2
3  109   1   2  21    3
4  109   1   5   1  0.5