# Homework 2

In [1]:
import pandas as pd
import matplotlib.pyplot as plt 

# 读CSV这里只要下载到python文件所在的同一个文件夹，代码里直接写文件名就可以，如下
# 另外一种是从网上读CSV，在下面The Swedish Election 里。

# download the csv file to local folder, then read it
ApartmentPrice = pd.read_csv("Booli_sold.csv")

#pyton没有批量注释的快捷键，可以用"""..."""进行多行注释，但是也要注意缩进。python代码关系是由缩进实现的。


# 用两个不同的函数来增加新的一列，且这列的值是由表里的其他列计算出来的。 insert 和 loc结果一样。
#insert
#insert主要是以系统里数字的index，对表格进行更改，可以指定具体的index
#loc
#loc是对表格给出的栏的名字进行相应更改。


# create a new column derived from existing columns and insert it in the first column.
# ApartmentPrice.insert(0, 'ppsqm', round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)) 
ApartmentPrice.loc[:,"ppsqm"] = round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)

ApartmentPrice.sort_values("ppsqm", ascending = False).head()

,listPrice,rent,livingArea,rooms,published,constructionYear,objectType,booliId,soldDate,soldPrice,...,location.position.longitude,location.position.isApproximate,location.region.municipalityName,location.region.countyName,location.distance.ocean,source.name,source.id,source.type,source.url,ppsqm
67,1595000,1464.0,24.0,1.0,2016-01-07 14:51:06,1935.0,Lägenhet,2018259,2016-01-21,2500000,...,18.055270,NaN,Stockholm,Stockholms län,161,Notar,1566,Broker,http://www.notar.se/,104166.67
50,1890000,1464.0,24.0,1.0,2016-06-11 08:55:51,1935.0,Lägenhet,2125576,2016-06-21,2450000,...,18.055270,NaN,Stockholm,Stockholms län,161,HusmanHagberg,1610,Broker,http://www.husmanhagberg.se/,102083.33
54,1795000,1374.0,23.0,1.0,2016-04-15 19:10:49,1935.0,Lägenhet,2078171,2016-04-28,2300000,...,18.055422,True,Stockholm,Stockholms län,135,Notar,1566,Broker,http://www.notar.se/,100000.00
34,1750000,1144.0,25.0,1.0,2017-05-18 16:20:57,1936.0,Lägenhet,2330886,2017-06-01,2210000,...,18.053880,NaN,Stockholm,Stockholms län,218,HusmanHagberg,1610,Broker,http://www.husmanhagberg.se/,88400.00
55,1895000,1522.0,26.9,1.0,2016-04-01 22:56:37,1968.0,Lägenhet,2067384,2016-04-19,2300000,...,18.058529,True,Stockholm,Stockholms län,298,Notar,1566,Broker,http://www.notar.se/,85501.86

In [2]:
# use the 'mean' function to calculate the average ppsqm.
mean =  round(ApartmentPrice["ppsqm"].mean(),2)
print("The avereage price per square meter in Ekhagen is ",mean)
# create a new DataFrame containing only the top five records.

The avereage price per square meter in Ekhagen is  58759.38

In [3]:
# read csv file directly from the webside.
url = "https://raw.githubusercontent.com/mt4007-ht23/data/main/2018_R_per_kommun.csv"
swedishElection2018= pd.read_csv(url, sep=";", decimal=',')

# task 1: First, group the data by 'LÄNSNAMN,' then sum up the column 'RÖSTER GILTIGA' and select the data for 'Stockholms län' 
votesGrouped = swedishElection2018.groupby("LÄNSNAMN")
votesGroupedSum = votesGrouped["RÖSTER GILTIGA"].sum()
votesInStockholm_sum = votesGroupedSum.loc['Stockholms län']
print("The number of legitimate votes for all municipalities in Stockholm is" , votesInStockholm_sum )

The number of legitimate votes for all municipalities in Stockholm is 1426237

In [4]:
# task 2: The highest voting percentage is observed in Munkfors municipality.
VALDELTAGANDE = swedishElection2018.loc[:,["KOMMUNNAMN","VALDELTAGANDE"]]
swedishElection2018.sort_values("S", ascending = False).head(1)

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
188,17,62,Värmlands län,Munkfors,8.33,8.12,2.91,3.93,52.18,6.11,...,NaN,NaN,NaN,NaN,1.02,NaN,2340,2364,2777,85.13

In [ ]:
# task 3: sort the values at a descending order, then select the top 3 records. 
VALDELTAGANDE.sort_values("VALDELTAGANDE", ascending = False).head(3)