# Homework 2

## Apartment Prices

In our apartment price analysis, I started by creating a new column that represents the price per square meter (ppsqm). This was done by dividing the 'soldPrice' by the 'livingArea.' Notably, I inserted this new column as the first one in the table.

Next, I sorted the table based on the 'ppsqm' column and displayed the top five entries with the highest prices, as requested.

For the apartments located in Ekhagen, I used the 'mean' function to calculate the average ppsqm. I find the 'mean' function particularly intriguing because it simplifies the process of obtaining summary statistics from the data. Additionally, exploring different functions and methods in data analysis can lead to more efficient and effective ways of extracting insights from the dataset."

In [3]:
import pandas as pd
import matplotlib.pyplot as plt 

#读CSV这里只要下载到python文件所在的文件夹，直接写文件名就可以，如下
# 另外一种是从网上读CSV，在下面The Swedish Election 里。

# download the csv file to local folder, then read it
ApartmentPrice = pd.read_csv("Booli_sold.csv")

#pyton没有批量注释的快捷键，可以用"""..."""进行多行注释，但是也要注意缩进。python代码关系是由缩进实现的。
# create a new column derived from existing columns and insert it in the first column.
# 用两个不同的函数来增加新的一列，且这列的值是由表里的其他列计算出来的。
# ApartmentPrice.insert(0, 'ppsqm', round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)) 
ApartmentPrice.loc[:,"ppsqm"] = round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)

# create a new DataFrame containing only the top five records. 
topFive = ApartmentPrice.sort_values("ppsqm", ascending = False).head()
topFive

# use the 'mean' function to calculate the average ppsqm.
mean =  round(ApartmentPrice["ppsqm"].mean(),2)
print("The avereage price per square meter in Ekhagen is ",mean)

The avereage price per square meter in Ekhagen is  58759.38

# The Swedish Election of 2018

In [4]:
# read csv file directly from the webside.
url = "https://raw.githubusercontent.com/mt4007-ht23/data/main/2018_R_per_kommun.csv"
swedishElection2018= pd.read_csv(url, sep=";", decimal=',')

# task 1: First, group the data by 'LÄNSNAMN,' then sum up the column 'RÖSTER GILTIGA' and select the data for 'Stockholms län' 
votesGrouped = swedishElection2018.groupby("LÄNSNAMN")
votesGroupedSum = votesGrouped["RÖSTER GILTIGA"].sum()
votesInStockholm_sum = votesGroupedSum.loc['Stockholms län']
print("The number of legitimate votes for all municipalities in Stockholm is" , votesInStockholm_sum )

The number of legitimate votes for all municipalities in Stockholm is 1426237

In [5]:
# task 2: The highest voting percentage is observed in Munkfors municipality.
VALDELTAGANDE = swedishElection2018.loc[:,["KOMMUNNAMN","VALDELTAGANDE"]]
swedishElection2018.sort_values("S", ascending = False).head(1)

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
188,17,62,Värmlands län,Munkfors,8.33,8.12,2.91,3.93,52.18,6.11,...,NaN,NaN,NaN,NaN,1.02,NaN,2340,2364,2777,85.13

In [6]:
# task 3: sort the values at a descending order, then select the top 3 records. 
VALDELTAGANDE.sort_values("VALDELTAGANDE", ascending = False).head(3)

    KOMMUNNAMN  VALDELTAGANDE
103      Lomma          93.86
59        Habo          93.35
98    Vellinge          93.13