# Homework 2，看注释的文本

In [7]:
import pandas as pd
import matplotlib.pyplot as plt 

# 读CSV这里只要下载到python文件所在的同一个文件夹，代码里直接写文件名就可以，如下
# 另外一种是从网上读CSV，在下面The Swedish Election 里。

# download the csv file to local folder, then read it
ApartmentPrice = pd.read_csv("Booli_sold.csv")

#pyton没有批量注释的快捷键，可以用"""..."""进行多行注释，但是也要注意缩进。python代码关系是由缩进实现的。


# 用两个不同的函数来增加新的一列，且这列的值是由表里的其他列计算出来的。 insert 和 loc结果一样。
#insert
#insert主要是以系统里数字的index，对表格进行更改，可以指定具体的index
#loc
#loc是对表格给出的栏的名字进行相应更改。


# create a new column derived from existing columns and insert it in the first column.
# ApartmentPrice.insert(0, 'ppsqm', round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)) 
ApartmentPrice.loc[:,"ppsqm"] = round(ApartmentPrice["soldPrice"]/ApartmentPrice["livingArea"],2)

topFive = ApartmentPrice.sort_values("ppsqm", ascending = False).head()

# 下面这个代码在转为.md后，打印出来是个简单的表格。
print(topFive.to_markdown(index=False))

|   listPrice |   rent |   livingArea |   rooms | published           |   constructionYear | objectType   |   booliId | soldDate   |   soldPrice | soldPriceSource   | url                                 |   floor |   additionalArea |   apartmentNumber |   plotArea | location.address.streetAddress   |   location.position.latitude |   location.position.longitude |   location.position.isApproximate | location.region.municipalityName   | location.region.countyName   |   location.distance.ocean | source.name   |   source.id | source.type   | source.url                   |    ppsqm |
|------------:|-------:|-------------:|--------:|:--------------------|-------------------:|:-------------|----------:|:-----------|------------:|:------------------|:------------------------------------|--------:|-----------------:|------------------:|-----------:|:---------------------------------|-----------------------------:|------------------------------:|----------------------------------:|:-----------------------------------|:-----------------------------|--------------------------:|:--------------|------------:|:--------------|:-----------------------------|---------:|
|     1595000 |   1464 |         24   |       1 | 2016-01-07 14:51:06 |               1935 | Lägenhet     |   2018259 | 2016-01-21 |     2500000 | bid               | https://www.booli.se/annons/2018259 |       3 |              nan |              1305 |        nan | Ekhagsvägen 8                    |                      59.3718 |                       18.0553 |                               nan | Stockholm                          | Stockholms län               |                       161 | Notar         |        1566 | Broker        | http://www.notar.se/         | 104167   |
|     1890000 |   1464 |         24   |       1 | 2016-06-11 08:55:51 |               1935 | Lägenhet     |   2125576 | 2016-06-21 |     2450000 | bid               | https://www.booli.se/annons/2125576 |       3 |              nan |              1305 |        nan | Ekhagsvägen 8                    |                      59.3718 |                       18.0553 |                               nan | Stockholm                          | Stockholms län               |                       161 | HusmanHagberg |        1610 | Broker        | http://www.husmanhagberg.se/ | 102083   |
|     1795000 |   1374 |         23   |       1 | 2016-04-15 19:10:49 |               1935 | Lägenhet     |   2078171 | 2016-04-28 |     2300000 | bid               | https://www.booli.se/annons/2078171 |       1 |              nan |              1105 |        nan | Ekhagsvägen 10                   |                      59.372  |                       18.0554 |                                 1 | Stockholm                          | Stockholms län               |                       135 | Notar         |        1566 | Broker        | http://www.notar.se/         | 100000   |
|     1750000 |   1144 |         25   |       1 | 2017-05-18 16:20:57 |               1936 | Lägenhet     |   2330886 | 2017-06-01 |     2210000 | bid               | https://www.booli.se/annons/2330886 |       0 |                0 |               nan |        nan | Torphagsvägen 4                  |                      59.3715 |                       18.0539 |                               nan | Stockholm                          | Stockholms län               |                       218 | HusmanHagberg |        1610 | Broker        | http://www.husmanhagberg.se/ |  88400   |
|     1895000 |   1522 |         26.9 |       1 | 2016-04-01 22:56:37 |               1968 | Lägenhet     |   2067384 | 2016-04-19 |     2300000 | bid               | https://www.booli.se/annons/2067384 |       2 |              nan |              1203 |        nan | Docentbacken 1B                  |                      59.3706 |                       18.0585 |                                 1 | Stockholm                          | Stockholms län               |                       298 | Notar         |        1566 | Broker        | http://www.notar.se/         |  85501.9 |

In [8]:
# use the 'mean' function to calculate the average ppsqm.
mean =  round(ApartmentPrice["ppsqm"].mean(),2)
print("The avereage price per square meter in Ekhagen is ",mean)
# create a new DataFrame containing only the top five records.

The avereage price per square meter in Ekhagen is  58759.38

In [9]:
# read csv file directly from the webside.
url = "https://raw.githubusercontent.com/mt4007-ht23/data/main/2018_R_per_kommun.csv"
swedishElection2018= pd.read_csv(url, sep=";", decimal=',')

# task 1: First, group the data by 'LÄNSNAMN,' then sum up the column 'RÖSTER GILTIGA' and select the data for 'Stockholms län' 
votesGrouped = swedishElection2018.groupby("LÄNSNAMN")
votesGroupedSum = votesGrouped["RÖSTER GILTIGA"].sum()
votesInStockholm_sum = votesGroupedSum.loc['Stockholms län']
print("The number of legitimate votes for all municipalities in Stockholm is" , votesInStockholm_sum )

The number of legitimate votes for all municipalities in Stockholm is 1426237

In [10]:
# task 2: The highest voting percentage is observed in Munkfors municipality.
# loc[:,["KOMMUNNAMN","VALDELTAGANDE"]] 这里是说选左右的行，列只选["KOMMUNNAMN","VALDELTAGANDE"]，所以逗号前面是行的index，后面是列的index。
VALDELTAGANDE = swedishElection2018.loc[:,["KOMMUNNAMN","VALDELTAGANDE"]]
swedishElection2018.sort_values("S", ascending = False).head(1)

,LÄNSKOD,KOMMUNKOD,LÄNSNAMN,KOMMUNNAMN,M,C,L,KD,S,V,...,TRP,VL-S,ÖVR,OGEJ,BLANK,OG,RÖSTER GILTIGA,RÖSTANDE,RÖSTBERÄTTIGADE,VALDELTAGANDE
188,17,62,Värmlands län,Munkfors,8.33,8.12,2.91,3.93,52.18,6.11,...,NaN,NaN,NaN,NaN,1.02,NaN,2340,2364,2777,85.13

In [11]:
# task 3: sort the values at a descending order, then select the top 3 records. 
VALDELTAGANDE.sort_values("VALDELTAGANDE", ascending = False).head(3)

    KOMMUNNAMN  VALDELTAGANDE
103      Lomma          93.86
59        Habo          93.35
98    Vellinge          93.13